keyword[outputclass = 'label'] {
    background-color: deepskyblue;
    color: white;
    border-radius: 6px;
    margin: 0.2em;
    padding: 0.2em;
    width:20%;
}

.wh_top_menu{
    text-transform: none;
}