@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Open Sans', Roboto, sans-serif;
    background: #f8f8fa;
}

body.wh_topic_page {
    background-color: #fff
}
.wh_search_textfield {
    border: solid 1px #ffffff;
    border-radius: 5px;
    padding: 0 0.5em;
    position: relative;
    height: 2em;
}
.wh_search_button{
    background-color: #43475e;
    padding: 0.25em;
    height: 2em;
}

.wh_top_menu{
    text-transform: none;
}

div#follow-it {
   /* width: 340px;
    right: 0;
    position: fixed;
    bottom: 32px;*/
    height: 210px
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview{
    box-shadow: none;
    padding: 0;
}
.mb_index {
	height:auto;
	/*margin-top: 30px;*/
}

.mb_index h3, .top-rated h3, .welcome h3, .stripe-latest-posts h3{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
}

.mb_index h3{
    margin: -17px 0 0 1.5em;
    position: absolute;
}
.top-rated h3, .welcome h3{
    margin: -12px 0 1.4em 0;
}
/*
h3.followit{
    margin-top: 1.5em
}
*/
.top-rated .label {
    margin-bottom: 3em;
}

.top-rated div:last-child .label{
    margin-bottom: 1em;
}
.mb_index_bg{
    background-image:none;
   /* height:500px;*/
    background-image: url("resources/images/blog_hero.png");
    /*width: 100%;*/
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #fff;
    margin: 0 1.5em 2.5em 1.5em;
    box-shadow: 2px 2px 8px #c2c3cf;
    border-radius: 5px
}

.mb_index_bg .entry{
   padding: 2.5em;
    width: 70%;
    
}
.mb_index_bg .entry .title, .welcome .entry .title{
    font-size: 2em;
    font-weight: 500;
    color: #222;
    line-height: 1.4em;
    
}

.mb_index_bg .entry .title{
    margin-bottom: 1em
}

.welcome .entry .title{
    font-size: 1.4em;
}

.stripe-latest-posts .entry, .top-rated .entry, .welcome .entry{
    width: 348px;
    height: 250px;
    padding: 1.5em;
    box-shadow: 2px 2px 8px #c2c3cf;
    margin: 1.5em;
    border-radius: 5px;
    background-color: #fff;
    display:inline-table;
}

.welcome .entry{
    width: auto;
    margin:0;
     height: 347px;
    }
    
 .top-rated .entry{
     margin: 0 0 2.7em 0;
     height: 347px;
 }
.wh_main_page .wh_search_input{
    padding: 0;
    background: none;
}

.wh_header{
   /* background-image: linear-gradient( 11deg, #764ba2 0%, #667eea 100%);*/
}
.footer-container{
    width: 1600px
}

.wh_footer a{
    color: #0079e1;
}

.wh_footer #copy{
    text-align: left;
    padding-top: .4em;
}
.wh_footer{
    border-top: 1px solid #ccc;
    color: #000;
    background: none #ffffff;
    margin-top: 2em;
    box-shadow: 0 -3px 13px #e3e3e3;
}

.entry a.title {
    font-size: 1.3em;
    font-weight: 400;
    color: #222;
    line-height: 1.5em;
}

.entry a:hover{
    color: #287dd3!important
}

.author{
    width: 35px;
    height: 35px;
    background-size: contain;
    padding: 17px;
    background-repeat: no-repeat;
    border-radius:50%;
    margin-bottom: 1em;
    background-color: bisque;
}

.author.inPage a{
    margin-top: -19px
}


.date.inPage{
    font-size: .8em;
    color: #555;
    margin-left: 45px;
    margin-top: -33px;
}

.after-pub-toc{
      /* background-color: #f8f8f8; */
    margin-top: 1.5em;
    /* border-top: 1px solid #d1d1d1; */
    /* box-shadow: 0 2px 7px #b7b7b7; */
    border: 1px solid #dadada;
}
.wh_publication_toc {
    border-radius: 3px;
    padding: 1.5em 0.5em;
    background-color: #ffffff;
    /* box-shadow: 0 2px 7px #b7b7b7; */
    border: 1px solid #dadada;
}

.wh_search_results{
    margin-top: 2em;
    background-color: #fff;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #c2c3cf; 
}
.wh-search-pagination{margin-top: 1em}


#wh_publication_toc_content{
    top: 143px !important
}
.after-pub-toc div#follow-it {
    padding: 1.5em;
}

.label-container.inPage{
    right: 0;
    position: absolute;
    padding: 1em;
}

.label.inPage{
    border: 1px solid #666;
    padding: 0.2em;
    margin: 0.1em;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: .8em;
}

.label.inPage a{
    color: #666
}
.entry .date {
    color: #818181;
    font-size: .875em;
    margin-bottom: 15px;
}

.entry .label{
    color: #546E7A;
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.5px;
}
.author a {
    display: inline-block;
    width: 150px;
    margin-left: 30px;
    margin-top: -12px;
    position: absolute;
    color: #333;
}

.author.Sorin_Carbunaru{
    background-image: url("resources/images/foto-SorinC.jpg");
}

.author.Radu_Coravu{
    background-image: url("resources/images/foto-RaduC.jpg");
}

.author.Alin_Belu{
    background-image: url("resources/images/foto-AlinB.png");
}


.author.George_Bina{
    background-image: url("resources/images/foto-GeorgeBina.jpg");
}

.author.Alex_Smarandache{
    background-image: url("resources/images/foto-AlexSmarandache.jpeg");
}

.author.Alex_Jitianu{
    background-image: url("resources/images/foto-AlexJitianu.jpg");
}

.author.Cosmin_Duna{
    background-image: url("resources/images/foto-CosminD.jpg");
}

.author.Stefan_Vasile{
    background-image: url("resources/images/foto-StefanV.png");
}

.wh_logo + .wh_publication_title{
    margin-top: 0.3em;
}

.wh_publication_title .title{
    font-style: normal;
    font-size: 28px;
    line-height: 0em;
    color: #fffbfb;
    /*font-weight: 500;*/
}
.wh_logo + .wh_publication_title {
    margin-left: 1em;
}
.wh_search_input{
    padding: 0;
    background:none
}

.get-started{
    padding: 0.5em 1em;
    font-size: 1.2em;
    text-transform: uppercase;
    border: 1px solid #888;
    border-radius: 8px;
    margin-top: 3em;
}

.footer .get-started{
    margin-top:auto;
    color: #000;
    font-size: 1em;
}

.top-rated #quick_links.entry{
    height: 240px
}

.top-rated #quick_links.entry img{
    margin-top: 1em
}
#quick_links img{
    width: 40px;
    margin: .5em 1em
}

.wh_footer #quick_links img{
    margin-top:0
}

.b-flavours a{
    padding: 0 .5em
}

*, *::after, *::before {
  box-sizing: border-box;
}

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: .40em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: #39a3d9;
      z-index: 1003;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: #39a3d9;
}

.flat::-moz-progress-bar {
  background-color: #39a3d9;
}

.single::-webkit-progress-value {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, #39a3d9);
}

.single::-moz-progress-bar {
  background-color: transparent;
  background-image: -moz-linear-gradient(left, transparent, #39a3d9);
}

.multiple::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, 
    transparent 33%, rgba(0, 0, 0, .1) 33%, 
    rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(left, green, #39a3d9);
}

.multiple::-moz-progress-bar {
    background-image: -moz-linear-gradient(-45deg, 
    transparent 33%, rgba(0, 0, 0, .1) 33%, 
    rgba(0,0, 0, .1) 66%, transparent 66%),
    -moz-linear-gradient(left, green, #39a3d9);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .25em;
  display: block;
}

.progress-bar {
  background-color: #39a3d9;
  width: 50%;
  display: block;
  height: inherit;
}

ul#ui-id-1.ui-autocomplete {
   z-index:999 !important;
}

@media (max-width: 1500px ){    
    .wh_search_input{
        width: 100%
    }
    
}

@media (max-width: 620px ){    
    .mb_index_bg{height:auto}
    .mb_index_bg .entry{padding:1.5em}
    .mb_index_bg .entry .title{
        font-size:1.7em
    }
    .get-started{
        margin-top:1em
    }
    .stripe-latest-posts .entry, .top-rated .entry, .welcome .entry{
        width:93%;
    }
    /*.top-rated .entry{
        margin: auto
    }*/
}


 .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview,
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview *{
        box-sizing: border-box !important;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading {
        width: 100% !important;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading h5{
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field {
        margin-top: 20px !important;
        width: 100% !important;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
        width: 100% !important;
        height: 40px !important;
        border-radius: 6px !important;
        border: 2px solid #e9e8e8 !important;
        background-color: #fff !important;
        outline: none !important;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
        color: #000000 !important;
        
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 20px !important;
        text-align: center !important;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::placeholder {
        color: #000000 !important;
        opacity: 1 !important;
        }
        
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input:-ms-input-placeholder {
        color: #000000 !important;
        }
        
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::-ms-input-placeholder {
        color: #000000 !important;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button {
        margin-top: 10px !important;
        width: 100% !important;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button {
        width: 100% !important;
        height: 40px !important;
        border: 0 !important;
        border-radius: 6px !important;
        line-height: 0px !important;
        text-transform: uppercase;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button:hover {
        cursor: pointer !important;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line {
        color: #231f20 !important;
        
        font-size: 13px !important;
        font-weight: 400 !important;
        line-height: 25px !important;
        text-align: center !important;
        text-decoration: none !important;
        display: flex !important;
        width: 100% !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 10px !important;
        }
        .followit-\-follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line img {
        margin-left: 10px !important;
        height: 1.13em !important;
        max-height: 1.13em !important;
        }
